<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Notes</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="body">
    <header class="nav_header">
        <nav class="nav_bar">
            <ul class="nav_bar_item_list">
                <li class="nav_bar_item"><a href="/">Notes</a></li>
                <li class="nav_bar_item"><a href="/create-notes">Create Notes</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <form class="note-form" action="/view-note" method="POST">
            <div class="note-form-control">
                <div class="title-div">
                    <label class="title-label">Title</label><input class="note-title" name="note_title" />
                </div>
                <textarea class="note-text" name="note_text" rows="10" cols="50">Enter your notes here and click submit.</textarea>
                <button class="submit-button" type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>