<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q-Notes</title>
    <link rel="stylesheet" href="/css/main.css">    
</head>
    <body class="body">
        <header class="nav_header">
            <nav class="nav_bar">
                <ul class="nav_bar_item_list">
                    <li class="nav_bar_item"><a href="/">Notes</a></li>
                    <li class="nav_bar_item"><a href="/create-notes">Create Notes</a></li>
                </ul>
            </nav>
        </header>
    <main>
        <h1>My Notes</h1>
        <p>List all the notes here ...</p>
    </main>
</body>
</html>