doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Notes
        link(rel="stylesheet", href="/css/main.css")
    body.body
        header.nav_header
            nav.nav_bar 
                ul.nav_bar_item_list
                    li.nav_bar_item
                        a(href="/") Notesß
                    li.nav_bar_item
                        a(href="/create-notes") Create Notes
    main 
        h1 My Notes 
        p List all the notes here ...